*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 25px auto 12px auto;
    border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
    position:relative;
  text-align: center;
  white-space: nowrap;

}

.header {
    padding: 20px 0;
    background-color: #fff;
    text-align: center;

}

.logo {
    display: inline-block;
    position: absolute;
    left: 0px;
    bottom: 17.7px;
    
}

.logo-img{
    height: 34.4px;

}

.nav {
    display: inline-block;
    vertical-align: middle;
    position: relative;
  
}

.nav-list{
    list-style: none;
    padding-bottom: 26px;
    display: inline-block;
    
    
}

.nav-item {
   display: inline-block;
   margin-left: 60px;
}

.nav-link {
    text-decoration: none;
    color: #3D3D3D;
    font-size: 16px;
    padding: 7px 0 23px 0;
    position: relative;
    transition: color 0.1s ease;
}

.nav-link:hover{
    box-shadow: 0px 2px 0px rgba(70, 163, 88, 1);
    text-shadow: #3D3D3D 0 -1x;
    color: #3D3D3D;
}


.login-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    bottom: 18px;
    background-color: #46a358;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

.login-icon{
    margin-right: 3px;
}

.login-text{
    vertical-align: middle;
    
}
.login-btn:hover {
    background-color: #46a358;

}
